
# Conditional G28 (home if not already homed)
[gcode_macro CG28]
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
    STATUS_HOMING
    G28
    STATUS_READY
    {% endif %}

[gcode_macro G32]
gcode:
    #BED_MESH_CLEAR  ; Bed meshes do NOT affect homing
    CG28                      ; Home if not homed to get everything turned on
    STATUS_LEVELING
    Z_TILT_ADJUST             ; Level
    #STATUS_CLEANING
    #NOZZLE_BRUSH              ; Clean nozzle
    STATUS_HOMING
    G28 Z                     ; Home the Z now that nozzle is clean
    G0 X150 Y150 Z20 F6000    ; Return to center of bed
    STATUS_READY

# Convert Marlin chamber temp commands to klipper commands
[gcode_macro M141]
gcode:
    {% set chambertemp = params.CHAMBER|default(0)|int %}
    TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={chambertemp}

# Convert Marlin linear advance (M900) commands to Klipper (SET_PRESSURE_ADVANCE) commands.
# For use with Marlin's linear advance calibration: https://marlinfw.org/tools/lin_advance/k-factor.html
[gcode_macro M900]
gcode:
	# Parameters
	{% set pa = params.K|float %}
	SET_PRESSURE_ADVANCE ADVANCE={pa}
